*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

main{
 background-color: rgb(36, 30, 30);
 width: max-content;
 margin: auto;
 border: 3px solid black;
 border-radius: 5px;
 padding: 10px;
}

#screen{
 width: 100%;
 background-color: rgb(201, 194, 194);
 height: 50px;
 font-size: 40px;
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 margin-bottom: 10px;
 border-radius: 2px;
}

#buttons{
 max-width: 400px;
 display: flex;
 flex-wrap: wrap;
}

button{
 flex: 1 25%;
 padding: 15px;
 font-size: 20px;
 border-radius: 5px;
}

.clear,.delete{
 flex: 2 50%;
 background-color: orange;
 
}

.digits{
 background-color: lightgray;
}

.operators{
 background-color: rgb(103, 101, 101);
}